@model IEnumerable<BookManagementSystem.Models.Book>

@{
    ViewData["Title"] = "Home";
}

<div class="col-md-12">
    <h2>Recent Books</h2>
    <div class="row">
        @foreach (var book in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="@Url.Content(book.ImageUrl)" alt="Cover Image for @book.Title" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">@book.Title</h5>
                        <p class="card-text">Author : @book.Author</p>
                        <p class="card-text">Genre : @book.Genre</p>
                        <p class="card-text">Published Year : @book.PublishedYear</p>
                        <a href="/Books/Details/@book.Id" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<style>
    .card-img-top {
        width: auto;
        height: 600px   ; /* Set a uniform height */
        object-fit: cover; /* Ensures that the image covers the area without distortion */
    }
</style>